body {
    background-color: lightblue;
    font-family: 'Verdana', sans-serif;
    /* font-size: 16px; */
    /* margin:0 200px; */
    text-align: center;
    margin:0 auto;
    
}

.hero,iframe {
    text-align: center;
    margin:0 auto;
    background-color: lightcyan;
    border-bottom: 5px solid black;

}
.table {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    min-height: 150px;
    border-bottom: 5px solid black;


    
}

.curr {
    display: flex;
    justify-content: center;
    background-color: azure;
    min-height: 200px;
    border-bottom: 5px solid black;

}

#contactussection {
    display: flex;
    justify-content: center;
    background-color: bisque;
    min-height: 200px;
    border-bottom: 5px solid black;
    
}

a {
    text-decoration: none;
    color:green;
}

.logo {
    position:fixed;
    top:0;
    left:0;
}

.explain {
    background-color: lightcoral;
    background-color: #000000;
    background-color: #ffffff;
    background-color:rgb(255,0,255);
    min-height: 200px;
    border-bottom: 5px solid black;
}

/* a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:yellow;
    font-size: 2em;
}

a:active {
    text-decoration: underline;
}    */

.parental {
    font-size: 25px;
    margin:25px;
    padding :20px 30px 50px 60px ;
    border: 5px solid grey;
}

.teamimg img {
    border-radius: 50%;
    height:200px;
    width: 200px;
    padding: 10px;
}
.team  {
    align-items: center;

}
.team h3 {
    font-size: 16px;
    font-weight: lighter;
}
.membertop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teammember {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: teammember;
}

/* @media only screen and (max-width: 729px) {
  
    
    .teamimg {
       width: 500px;
       flex-wrap: wrap;

    }


  } */

  .tm1 {
      grid-area: tm1;
  }
  .tm2 {
      grid-area: tm2;
  }
  .tm3 {
      grid-area: tm3;
  }

.teamimg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "tm1"
    "tm2"
    "tm3" ;
}


@media screen and (min-width: 426px) {
    
.teamimg {
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "tm1 tm2"
    "tm3 tm3";
    }

  } 

  @media screen and (min-width: 730px) {
    .teamimg {
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "tm1 tm2 tm3"
        }
      } 

.left {
float:left

}
.right {
float:right
}

.bar  {
    position: fixed;
    top:0;
    background-color: #fae985;
    height: 30px;
    width: 100%;
    border-bottom: 5px solid white;
}

.clickhere {
    background-color: black;
    color: white;
}

.tophero {
    background-image: url("https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickhere {
    height: 50px;
    width: 100px;
    background-color: teal;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: tomato;
    border: 2px solid white;

}
.tophero1 {
    position: relative;
    /* margin:20px; */
}

.tophero1 img {
   object-fit: cover;
   height: 50vh;
   width: 100%;
}

.tophero1 span {
position: absolute;
top: 50%;
left:50%;
background-color: black;
color: white;
height: 50px;
width: 100px;
padding: 30px;
transform: translate(-50%,-50%);
/* padding: 5px;
margin:5px */
}

.logo {
    z-index: 1000;
}

/* sm:5px
med:10px
ls:15px
xl:20px */
.psm {
    margin:40px;
}

.msm {
margin:5px;
}



.ariel {
    font-family:Arial;
}

.helvetica {
    font-family:Helvetica;
}

.original {
    color: brown;
    font-weight: 200;
}

.newclass {
    color: orange;
    font-weight: 800;
}



